.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}

.navbar.navbar-expand-lg.navbar-light.bg-dark.fixed-top {
    padding: 15px;
    font-size: 16px;
    background-color: #317691 !important;
}


